/vendor/
/build/
/tests/compiler/tmp/car/
/tests/compiler/tmp/injector_cache/
/tests/compiler/tmp/logger/
/tests/compiler/tmp/prod/
/tests/di/tmp/
/tests/di/script/grapher.php.txt
/tests/tmp/
/*.cache.php
/.phpunit.result.cache
/composer.lock
/.phpcs-cache
/coverage.xml
/demo/error.log
/demo/10-cache.php.cache.php
/demo-php8/error.log
/demo-php8/10-cache.php.cache.php
