/vendor/
/build/
/tests/compiler/tmp/car/
/tests/compiler/tmp/injector_cache/
/tests/compiler/tmp/logger/
/tests/compiler/tmp/prod/
/tests/di/script/grapher.php.txt
/tests/tmp/
/*.cache.php
/.php_cs.cache
/.phpunit.result.cache
/composer.lock
