/tests              export-ignore
/tests-php8         export-ignore
/demo               export-ignore
/demo-php8          export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/vendor-bin         export-ignore
/.gitignore         export-ignore
/.scrutinizer.yml   export-ignore
/.travis.yml        export-ignore
/codecov.yml        export-ignore
/phpcs.xml          export-ignore
/phpmd.xml          export-ignore
/phpstan.neon       export-ignore
/phpunit.xml.dist   export-ignore
/psalm.xml          export-ignore
/psalm.compiler.xml export-ignore

# Configure diff output for .php and .phar files.
*.php diff=php
*.phar -diff
