parameters:
  level: max
  paths:
    - src
    - tests
  excludes_analyse:
    - %currentWorkingDirectory%/tests/tmp/*
    - %currentWorkingDirectory%/tests/di/tmp/*
    - %currentWorkingDirectory%/tests/di/Fake/*
    - %currentWorkingDirectory%/tests/compiler/tmp/*
    - %currentWorkingDirectory%/tests/compiler/Fake/*

