parameters:
  level: max
  paths:
    - src/di
    - tests/di
    - tests/type
  excludePaths:
    - tests/tmp/*
    - tests/di/tmp/*
    - tests/Di/tmp/*
    - tests/di/Fake/*
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  ignoreErrors:
    - '#Parameter \#1 \$interface of method Ray\\Di\\Injector::getInstance\(\) expects class-string\<\>, string given.#'
