parameters:
  level: max
  paths:
    - src/Di
#    - tests/Di
  excludePaths:
    - tests/tmp/*
    - tests/di/tmp/*
    - tests/Di/tmp/*
    - tests/di/Fake/*
    - tests/compiler/tmp/*
    - tests/compiler/Fake/*
  checkGenericClassInNonGenericObjectType: false

