<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="tests/bootstrap.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/di</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Ray.Di Test Suite">
      <directory>tests/di/</directory>
      <directory phpVersion="8.0.0" phpVersionOperator=">=">tests-php8</directory>
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
</phpunit>
